html, body, #viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    outline: 1px solid red;
}

#viewport {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    align-items: flex-start;
    width: 100%;
}