html, body, #viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: small;
}

div {
    outline: 1px solid red;
}

#viewport {
    display: flex;
    flex-direction: column;
}


#header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#top-tools {
    color: red;
    padding: 5px;
    padding-top: 20px;
}
#top-tools a {
    text-decoration: none;
    color: #444;
    margin: 10px;
}
#top-tools a:hover {
    text-decoration: underline;
}
#login {
    background: linear-gradient(#4387fd,#4683ea);
    color: #FFF !important;
    border-radius: 2px;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none !important;
    cursor: default;
}
#login:hover {
    box-shadow: 0 1px 2px #48F;
}
#top-center {
    height: 233px;
    margin-top: 89px;
}
#top-center img {
padding-top: 109px;
}