
html, body, #viewport {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: small;
}



#viewport {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#top-tools {
    color: red;
    padding: 5px;
    padding-top: 7px;
    display:flex;
    align-items: center;
}

#top-tools a {
    text-decoration: none;
    color: #444;
    margin: 10px;
}

#top-tools a:hover {
    text-decoration: underline;
}

#login {
    background: linear-gradient(#49F,#58E);
    color: #FFF !important;
    border-radius: 2px;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none !important;
    cursor: default;
}

#login:hover {
    box-shadow: 0 1px 2px #48F;
}

#apps_icon img {
    height: 2em;
    opacity: 0.6;
}
#apps_icon img:hover {
    opacity: 1;
}

#top-center {

    display: flex;
}

#flex-center {
    margin: auto;
}

#top-center img {
    margin: auto;
}

#search-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 23px;
    height: 46px;
    width: 500px;
    word-wrap: break-word;
    border: 1px solid #CCC;
    padding-right: 10px;
    padding-left: 10px;
}

#search-border:hover {
    box-shadow: 2px 2px 4px #CCC;
}

#search-border:focus-within {
    box-shadow: 2px 2px 2px 2px #CCC;
}

#search-bar
{
    background: transparent;
    border: none;
    height: 34px;
    width: 92%;
    font-size: 16px;
}
#search-bar:focus {
    outline: 0;
}

#search-btn {
    display: flex;
    justify-content: center;
    }
#search-btn input {

    margin: 5px;
    border-radius: 5px;
    background: #F4F4F4;
    border: none;
    font-color: #777;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

#search-btn input:hover {
    color: #000;
    box-shadow: 0 1px 2px #AAA;
    border: 1px solid #AAA;
    background: linear-gradient(#FFF, #EEE);
}

#search-btn input:focus {
    outline:none;
    border: 1px solid #48E;
}

#mic-div img {
    height: 2em;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    color: rgb(34, 34, 34);
}
.footer {
    background-color:#f2f2f2;
}
#top-footer  {
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
}
#top-footer, #bot-footer{
    border-top: 1px solid #e4e4e4;
}

#top-footer{
    display: flex;
    padding-left: 27px;
    line-height: 40px;
}

#top-footer div {
    display: flex;
    font-size: 15px;
}

#bot-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

#bot-footer a {
    padding-left: 27px;
}

#bot-footer a {
    color: #5f6368;
    text-decoration: none;
}
#bot-footer a:hover {
    text-decoration: underline;
}

#right-footer {
    padding-right: 20px;
}
